#banner h2 { font-size: 3em; }
#banner:after { background-color: #415253;}

#schedule {
  margin-bottom: 6em;
}

#schedule thead {
  border: 0;
  font-size: 2em;
}

#schedule tr {
  background-color: inherit;
  border: 0;
}

#schedule .title {
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

#schedule td.time {
  border-top: 1px solid rgba(0, 0, 0, 0.315)
}

#schedule td.room {
  padding: 2em;
  text-align: left;
}

#schedule td.room-0 {
  background-color: rgba(0, 0, 0, 0.21);
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

#schedule td.room-1 {
  background-color: rgba(0, 0, 0, 0.15);
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

#schedule td.room-venue {
  background-color: #2e3842;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

#schedule td.time {
  vertical-align: middle;
  padding-top: 0;
  width: 100px;
}

#schedule td.time-10 { min-height: 3em; }
#schedule td.time-20 { min-height: 6em; }
#schedule td.time-30 { min-height: 9em; }
#schedule td.time-45 { min-height: 13em; }
#schedule td.time-50 { min-height: 15em; }
#schedule td.time-60 { min-height: 18em; }
#schedule td.time-90 { min-height: 20em; }
#schedule td.time-120 { min-height: 36em; }
#schedule td.empty   { height: 0; padding: 0; }


@media screen and (max-width: 1000px) {
  #banner h2 {
    font-size: 2.1em;
  }
  #banner h2 .principal {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 780px) {
  #banner h2 {
    font-size: 1.1em;
  }
  #banner h2 .principal {
    font-size: 1.2em;
  }
  #schedule td.time {
    width: 65px;
    padding: 0;
  }
  .sponsors { background-color: #1a1a1a; }
}

